#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

.scroll-container {
    overflow: auto;
}

main {
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: 0.5rem;
    }
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container {
        max-width: 31rem;

        & > img { /* primeiro nível de imagem do aside-container */
            margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: 0.5rem;

        & span {
            color: var(--text-highlight);
        }
    }
}

.desktop-only {
    display: initial;
}

.mobile-only {
    display: none;
}

@media (width < 80em) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: initial;
    }

    #app {
        grid-template-columns: 1fr;
    }
    
    main {
        padding: 1.5rem;

        & .main-container {
            margin-inline: auto;
        }
    }
    
    .aside-background {
        background-color: var(--surface-secondary);
    }

    aside {
        background-color: initial;
        text-align: center;
        padding: 1rem;
        
        & .aside-container {
            margin-inline: auto;

            & > img { /* primeiro nível de imagem do aside-container */
                margin-top: 0.75rem;
            }
        }
    }
}